body {
  background: bisque;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tableLeft {
  text-align: right;
  padding: 5px;
}

.tableRight {
  text-align: left;
  padding: 5px;
}

table {
  width: 50%;
  border-collapse: collapse;
  border: 3px solid black;
}
#uniqueTextArea{
  resize: none;
  height: 120px;
}
